\/memory

# Logs
logs/
*.log

#JSDOCS
docs/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history
